.textarea {
    width: 50%;
    border-radius: 20px;
    height: 800px;
    // background-color: red;
    margin: auto;
    margin-top: 50px;
    object-fit: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("https://cdn.shopify.com/s/files/1/0517/3195/5883/files/Screen_Shot_2023-03-09_at_03.24.55.png?v=1678332315&width=1000");

    .textarea {
        width: 100%;
        height: 800px;
        margin-top: 1px;
        position: absolute;
        background-size: 100%;
        background-position: center;
        background-image: url("https://cdn.shopify.com/s/files/1/0517/3195/5883/files/20210624200634z8akwBBKTDHDshGbh5hYnjn84Mey8s_copy_7330da9d-957e-4ae3-bdf1-dc06b162195b.jpg?v=1679272999&width=800");
        z-index: 3;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-fit: cover;
            z-index: 3;
            position: absolute;
        }
    }
}


// @media screen and (width:1030px) {
//     .textarea {
//         width: 300px;
//         height: 500px;
//         margin-left: -200px;
//     }
// }