.container {
    width: 100%;
    margin-top: 40px;
    height: auto;
    min-height: 130vh;
    // background-color: red;
    margin: auto;
    flex-wrap: wrap;
    padding-left: 10%;

    .containerTop {
        width: 100%;
        height: 200px;

        h1 {
            font-size: 50px;
            padding-top: 20px;
        }

        p {
            font-size: 20px;
            padding-top: 20px;
        }
    }


    .containerBottom {
        width: 100%;
        height: 950px;
        display: flex;
        flex-wrap: wrap;
        // background-color: blue;

        .containerBottomLeft {
            width: 60%;
            height: 100%;
            // background-color: chartreuse;
            flex-wrap: wrap;
            flex-direction: column;


            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-fit: cover;
            }
        }

        .containerBottomRight {
            width: 35%;
            height: 950px;
            // background-color: yellow;
            justify-content: center;
            display: flex;
            // margin-left: 10%;

            .silderDiv {
                width: 90%;
                height: 700px;
                background-color: #f1f1f1;
                border-radius: 20px;
                margin-left: 10%;
                margin-top: 100px;

                .sliderDivHover {
                    width: 370px;
                    height: 300px;
                    display: none;
                    position: relative;

                }

                .swiperDivText {
                    width: 80%;
                    margin: auto;
                    height: 50px;
                    background-color: black;
                    font-size: 18px;
                    margin-top: 50px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    margin: auto;
                    border-radius: 10px;
                    color: white;
                }

                .swiperDivText:hover {
                    background-color: gray;
                    color: black;
                }

                .swiperImg {
                    width: 100%;
                    height: 499px;
                    // background-color: sandybrown;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-fit: contain;
                        position: relative;


                    }
                }

                .sliderLogo {
                    display: none;
                }

                .swiperLogo:hover .sliderLogo {
                    display: block;
                }

                .swiperImg:hover .sliderDivHover img {
                    display: block;
                    width: 370px;
                    height: 400px;
                    position: absolute;
                    z-index: 3;

                }

                h3 {
                    padding-left: 40px;
                    padding-top: 20px;
                }

                p {
                    padding-left: 40px;
                    padding-top: 20px;
                }

            }






        }
    }
}


@media screen and (max-width:1600px) {
    .swiperDivText {
        width: 300px;
        margin-top: 10px;
    }

}







@media screen and (max-width:1600px) {

    .containerBottom {
        width: 500px;
        min-height: 100vh;
        height: auto;
        background-color: red;
        flex-wrap: wrap;

    }

    .silderDiv {
        width: 350px;
        height: 450px;
    }
}


@media screen and (max-width:1100px) {
    .containerBottom {
        flex-wrap: wrap;


        .containerBottomLeft {
            width: 600px;
            height: 100%;
            // background-color: chartreuse;
            flex-wrap: wrap;
            flex-direction: column;


            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-fit: cover;
            }
        }

        .silderDiv {
            width: 90%;
            height: 700px;
            background-color: #f1f1f1;
            border-radius: 20px;
            margin-left: 10%;
            margin-top: 100px;

            .sliderDivHover {
                width: 370px;
                height: 300px;
                display: none;
                position: relative;

            }

            .swiperDivText {
                width: 80%;
                margin: auto;
                height: 50px;
                background-color: black;
                font-size: 18px;
                margin-top: 50px;
                align-items: center;
                justify-content: center;
                display: flex;
                margin: auto;
                border-radius: 10px;
                color: white;
            }

            .swiperDivText:hover {
                background-color: gray;
                color: black;
            }

            .swiperImg {
                width: 100%;
                height: 499px;
                // background-color: sandybrown;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-fit: contain;
                    position: relative;


                }
            }

            .sliderLogo {
                display: none;
            }

            .swiperLogo:hover .sliderLogo {
                display: block;
            }

            .swiperImg:hover .sliderDivHover img {
                display: block;
                width: 370px;
                height: 400px;
                position: absolute;
                z-index: 3;

            }

            h3 {
                padding-left: 40px;
                padding-top: 20px;
            }

            p {
                padding-left: 40px;
                padding-top: 20px;
            }

        }

    }
}



// @media screen and (max-width:1550px) {
//     .swiperDivText {
//         width: 200px;
//         margin-top: 10px;
//         background-color: red;
//     }

//     .containerBottom {
//         flex-direction: column;
//         width: 500px;
//         background-color: red;
//         flex-wrap: wrap;
//         flex-direction: column;
//     }

//     .containerBottom {
//         flex-direction: column;
//     }
// }

// @media screen and (max-width:1400px) {
//     .silderDiv {
//         width: 400px;
//         height: 500px;

//     }
// }


// @media screen and (max-width:1000px) {

//     .containerBottom {
//         // background-color: red    ;
//         flex-direction: column;
//         flex-wrap: wrap;
//         display: none;
//     }

//     .container {
//         flex-wrap: wrap;
//     }

//     .containerBottomRight {
//         display: none;
//     }

//     .containerBottomRight Swiper {
//         flex-wrap: wrap;
//     }



// }

// .silderDiv {
//     width: 400px;
//     height: 500px;

// }