.texts {
    width: 80%;
    margin: auto;
    border-radius: 30px;
    height: 700px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    display: flex;

    .textsLeft {
        width: 50%;
        height: 100%;
        // background-color: red;



        h1 {
            padding: 100px;
            font-size: 50px;

        }
    }

    .textsRight {
        width: 50%;
        height: 100%;
        // background-color: blue;
        align-items: center;
        justify-content: center;
        display: flex;

        .textRightTop {
            width: 80%;
            border-radius: 10px;
            height: 80%;
            background-color: #f1f1f1;
            padding: 30px;

            details {
                padding-left: 20px;
                padding: 20px;

                p {
                    padding-left: 39px;
                    padding: 10px;
                    line-height: 1.6;
                }

                summary {
                    font-size: 19px;
                    font-weight: 600;
                }

            }

            hr {
                width: 90%;
                height: 1px;
            }

        }
    }
}


@media (max-width:1000px) {

    .texts {
        width: 800px;
        height: 800px;
        background-color: green;
    }

    .textsLeft {
        display: none;
    }

    .textsRight {
        width: 100%;
        height: 600px;
        background-color: blue;
    }

    .textRightTop {
        width: 100%;
        height: 500px;
        background-color: red;

    }

}