.cards {
    width: 100%;
    height: 270vh;
    background-color: #f0f0f0;

    h1 {
        text-align: center;
        font-size: 80px;
        padding-top: 100px;
        font-weight: 600;
    }

    h2 {
        text-align: center;
        font-size: 50px;
        padding-top: 20px;
    }

    .bannerCards {
        width: 80%;
        height: 300vh;
        min-height: 300vh;
        // background-color: yellow;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        .bannerItem {
            width: 350px;
            height: 555px;
            // background-color: aqua;
            margin: 10px;

            .bannerItemImg {
                width: 100%;
                height: 250px;
                // background-color: blue;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-fit: cover;
                }
            }

            .acrdsBtn1 {
                width: 150px;
                height: 50px;
                background-color: black;
                color: white;
                font-size: 18px;
                border-radius: 30px;
                border: none;
                margin-left: 42%;
                margin-top: 20px;
                display: none;
                transition: 1s;
            }
        }

        .bannerItem:hover .acrdsBtn1 {
            display: block;
            transition: 1s;
        }
    }
}



@media screen and (width:1130px) {
    .footer {
        margin-top: 300px;
        // background-color: blue;
    }
}